[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/akitaonrails/Command-T.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
